In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

C:\Users\dell\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
df = pd.read_csv('train.csv')[['Age','Pclass','Fare','Survived']]
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [3]:
df.isnull().sum()

Age         177
Pclass        0
Fare          0
Survived      0
dtype: int64

In [4]:
X = df.iloc[0:,0:3]
y = df.iloc[0:,-1]

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=2)

In [6]:
y_train.head()

30     0
10     1
873    0
182    0
876    0
Name: Survived, dtype: int64

In [10]:
# knn = KNNImputer(n_neighbors=3,weights='distance')


# X_train_trf = knn.fit_transform(X_train)
# X_test_trf = knn.transform(X_test)

knn = KNNImputer(n_neighbors=3,weights='distance')
X_train_KNN = knn.fit_transform(X_train)
X_test_KNN = knn.transform(X_test)

In [9]:
lr = LogisticRegression()

lr.fit(X_train_KNN,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

NameError: name 'X_train_trf' is not defined

In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

from sklearn.impute import KNNImputer,SimpleImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [7]:
df = pd.read_csv('train.csv',usecols = ['Age','Pclass','Fare','Survived']) #[['Age','Pclass','Fare','Survived']]

In [9]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [17]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
Fare          0
dtype: int64

In [10]:
df.isnull().mean() * 100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [12]:
X = df.drop(columns=['Survived'])
y = df['Survived']

In [13]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [14]:
X_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [16]:
knn = KNNImputer(n_neighbors=3,weights='distance')


X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [14]:
X_train_trf

array([[ 40.        ,   1.        ,  27.7208    ],
       [  4.        ,   3.        ,  16.7       ],
       [ 47.        ,   3.        ,   9.        ],
       ...,
       [ 71.        ,   1.        ,  49.5042    ],
       [ 32.66666667,   1.        , 221.7792    ],
       [ 49.76289518,   1.        ,  25.925     ]])

In [15]:
lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.7150837988826816

In [18]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [19]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.6927374301675978